.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "headerMenu"
      "home"
      "about"
      "gallery"
      "contact";
  }
  
  .headerMenu { grid-area: headerMenu; }
  
  .home { grid-area: home; }
  
  .about { grid-area: about; }
  
  .gallery { grid-area: gallery; }
  
  .contact { grid-area: contact; }


.contact {
    display: flex;
    grid-area: contact;
    padding: 50px;
}


#sectionContact {
    background-image: url(/assets/logo/contentBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    grid-area: content;
    display: flex;
    flex-direction: row;
    padding: 60px;
    border-style: solid;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* section scroll */

#section03  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}

.demo a {

    bottom: 10px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .3;
  }


  #section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid black;
    border-radius: 100%;
    box-sizing: border-box;
  }

  #section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -4px 0 0 -8px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transform: rotate(100deg);
    transform: rotate(137deg);
    box-sizing: border-box;
  }
