body {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.9fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
}

.header {
    grid-area: header;
    background-image: url("/assets/logo/headerbg2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 125px;
    padding-left: 55px;
}

.hairlogo {
    display: flex;
    margin-top: 130px;
    margin-left: 150px;
    margin-right: 130px;
    height: 100px;
    width: 100px;
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(-35px);
    }

    100% {
        transform: translateY(0px);
    }
}

.title1 {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100px;
    margin-top: 150px;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 105px;
}

.title2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

.menu {
    padding-top: 0%;
    margin-top: 0%;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* transparency */
    opacity: .9;
    background-color: #111111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 230px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Rubik Wet Paint', cursive;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    display: block;
    transition: 0.3s;
}

.sidenav a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 5px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

.sidenav a:hover::before {
    width: 80%;
    filter: drop-shadow(0 0 25px var(--clr))
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    margin-left: 50px;
}


/* burger menu */
#main {
    display: none;
    background-color: black;
    color: white;
    transition: margin-left .5s;
    padding: 15px;
}

/* horizontal menu */
#horizontal {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 400ms all ease-in-out 50ms;
    backface-visibility: hidden;
}

.containerMenu {
    background-color: rgb(3, 3, 3);
    display: flex;
}

.containerMenu .btn {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
}

.containerMenu .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(25px);
}

.containerMenu .btn:hover a {
    Letter-spacing: 3px;
}

.containerMenu .btn a::before {
    content: '';
    position: absolute;
    transition: 0.5s;
}

.containerMenu .btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.containerMenu .btn:hover::before {
    left: 50%;
    bottom: 0;
    width: 80%;
    transition-delay: 0.5s;
}

.containerMenu .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.containerMenu .btn:hover::after {
    left: 50%;
    top: 0;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;

}

.containerMenu .btn:nth-child(1)::before,
.containerMenu .btn:nth-child(1)::after {
    background: rgb(255, 255, 0);
    box-shadow: 0 0 5px yellow,
        0 0 15px yellow,
        0 0 30px yellow,
        0 0 60px yellow;
}

.containerMenu .btn:nth-child(2)::before,
.containerMenu .btn:nth-child(2)::after {
    background: orange;
    box-shadow: 0 0 5px orange,
        0 0 15px orange,
        0 0 30px orange,
        0 0 60px orange;
}

.containerMenu .btn:nth-child(3)::before,
.containerMenu .btn:nth-child(3)::after {
    background: pink;
    box-shadow: 0 0 5px pink,
        0 0 15px pink,
        0 0 30px pink,
        0 0 60px pink;
}

.containerMenu .btn:nth-child(4)::before,
.containerMenu .btn:nth-child(4)::after {
    background: fuchsia;
    box-shadow: 0 0 5px fuchsia,
        0 0 15px fuchsia,
        0 0 30px fuchsia,
        0 0 60px fuchsia;
}

.containerMenu .btn:nth-child(5)::before,
.containerMenu .btn:nth-child(5)::after {
    background: #8812a5;
    box-shadow: 0 0 5px #8812a5,
        0 0 15px #8812a5,
        0 0 30px #8812a5,
        0 0 60px #8812a5;
}

/* end button effects */

/* salon logo */
h2 {
    position: relative;
    top: 25%;
    left: -39%;
}

.content {
    background-image: url(/assets/logo/contentBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    grid-area: content;
    display: flex;
    flex-direction: row;
    padding: 60px;
    border-style: solid;
    justify-content: space-evenly;
    margin-top: 50px;
}

  /* elastic accordion 2 */
  .main {
  display: flex;
  width: 15vw;
  height: 75vh;
  background-position: center;
  flex-direction: row;
  gap: 1rem;
  /* margin: 1vw; */
  border-radius: 3vw;
  /* margin: 45px auto;
  max-width: 100%; */
  width: 72rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  }

.card-radio {
  display: none;
}

.card-content {
  background: #FFF
    url('/assets/gallery/1-1.avif')
    40% / cover no-repeat;
  border-radius: 0.25rem;
  cursor: pointer;
  flex: 1;
  overflow: hidden;
  position: relative;
  transition: box-shadow 300ms ease-in-out;
}

.card-content:nth-of-type(2) {
  background-image: url('/assets/gallery/2-2.avif');
  
}

.card-content:nth-of-type(3) {
  background-image: url('/assets/gallery/3-3.avif');
}

.card-content:nth-of-type(4) {
  background-image: url('/assets/gallery/4-4.avif');
}

.card-content:last-of-type {
  background-image: url('/assets/gallery/5-5.avif');
}

.card-title {
  align-items: center;
  background-color: rgb(0 0 0 / 35%);
  color: #FFF;
  display: flex;
  font-size: 2.2rem;
  inset: 0;
  justify-content: center;
  line-height: 1.1;
  position: absolute;
  transition: all 290ms cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

/* Effect */
.card-content:is(:hover, :focus) {
  box-shadow: 3px 3px 6px rgb(0 0 0 / 25%);
}

.card-content:is(:hover, :focus) .card-title {
  background-color: rgb(0 0 0 / 5%);
}

.card-radio:checked + .card-content {
  animation: elastic 500ms cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
  border-radius: 0;
  box-shadow: 5px 5px 6px rgb(0 0 0 / 15%);
  flex: 10;
}

.card-radio:checked + .card-content > .card-title {
  background-color: rgb(0 0 0);
  top: 87%;
}

@keyframes elastic {
  0% { flex: 1; }
  30% { flex: 5; }
  40% { flex: 4.5; }
  50% { flex: 7; }
  60% { flex: 6; }
  70% { flex: 8.5; }
  80% { flex: 7.5; }
  100% { flex: 10; }
}


/* laptop */
@media (max-width: 992px) {

    .body .header {
        display: flex;
        background-size: contain;
        background-position: -5x;
        background-image: url("/assets/logo/headerbg2.jpg");

    }

    .hairlogo {
        display: flex;
        margin-left: 260px;
    }

    .name {
        display: flex;
        text-align: center;
    }

    .title1 {
        display: flex;
        font-size: 80px;
    }

    .title2 {
        display: flex;
        font-size: 40px;
        padding-right: 38px;
        padding-top: 35px;
    }

    .content {
        display: flex;
    }

}

/* tablet */
@media (max-width: 768px) {
    .header {
        display: flex;
        background-image: url("/assets/logo/headerbg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #horizontal {
        display: none;
    }

    #main {
        display: flex;
    }

    .hairlogo {
        display: none;
    }

    .name {
        display: flex;
        justify-content: center;
    }

    .title1 {
        display: flex;
        height: 100px;
        font-family: 'Rubik Wet Paint', cursive;
        font-size: 95px;
    }

    .title2 {
        display: flex;
        padding-top: 45px;
        padding-right: 165px;
        font-size: 55px;
        font-weight: bold;
    }

    .content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        /* justify-self: center; */
        justify-content: center;

    }

}

/* phone */
@media (max-width: 576px) {
    .header {
        display: flex;
        background-position: 25%;
        background-image: url("/assets/logo/headerbg.jpg");
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    #horizontal {
        display: none;
    }

    #main {
        display: flex;
    }

    .hairlogo {
        display: none;
    }

    .name {
        display: flex;
        justify-content: center;
    }

    .title1 {
        display: flex;
        height: 100px;
        font-family: 'Rubik Wet Paint', cursive;
        font-size: 60px;
    }

    .title2 {
        display: flex;
        padding-top: 15px;
        padding-right: 40px;
        font-size: 35px;
        font-weight: bold;
    }

    .content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        /* justify-self: center; */
        justify-content: center;

    }

  

  


 

   
}