html body {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "headerMenu"
        "home"
        "about"
        "gallery"
        "contact";
}

.headerMenu {
    grid-area: headerMenu;
}

.home {
    grid-area: home;
}

.about {
    grid-area: about;
}

.gallery {
    grid-area: gallery;
}

.contact {
    grid-area: contact;
}

.headerMenu {
    grid-area: header;
    background-image: url("/assets/logo/headerbg2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

/*-------------------------index---------------------------------------*/

/* logo title */
.name {
    display: flex;
    margin: 6% 0 0 4%;
}

.title1 {
    display: flex;
    margin-top: 7%;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 7rem;
}

.title2 {
    display: flex;
    justify-content: flex-end;

    font-size: 4rem;
    font-weight: bold;
}

/* hairdryer animation */
/* #blowDryer {
    
    margin: 55% 0 -35% 30%;
 
} */
.hairlogo {
    display: flex;
    margin-top: 130px;
    margin-left: 150px;
    margin-right: 130px;
    height: 100px;
    width: 100px;
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(-35px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* horizontal menu */
#horizontal {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 400ms all ease-in-out 50ms;
    backface-visibility: hidden;
}

.containerMenu {
    background-color: rgb(3, 3, 3);
    display: flex;
}

.containerMenu .btn {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
}

.containerMenu .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(25px);
}

.containerMenu .btn:hover a {
    Letter-spacing: 3px;
}

.containerMenu .btn a::before {
    content: '';
    position: absolute;
    transition: 0.5s;
}

.containerMenu .btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.containerMenu .btn:hover::before {
    left: 50%;
    bottom: 0;
    width: 80%;
    transition-delay: 0.5s;
}

.containerMenu .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.containerMenu .btn:hover::after {
    left: 50%;
    top: 0;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;

}

.containerMenu .btn:nth-child(1)::before,
.containerMenu .btn:nth-child(1)::after {
    background: rgb(255, 255, 0);
    box-shadow: 0 0 5px yellow,
        0 0 15px yellow,
        0 0 30px yellow,
        0 0 60px yellow;
}

.containerMenu .btn:nth-child(2)::before,
.containerMenu .btn:nth-child(2)::after {
    background: orange;
    box-shadow: 0 0 5px orange,
        0 0 15px orange,
        0 0 30px orange,
        0 0 60px orange;
}

.containerMenu .btn:nth-child(3)::before,
.containerMenu .btn:nth-child(3)::after {
    background: pink;
    box-shadow: 0 0 5px pink,
        0 0 15px pink,
        0 0 30px pink,
        0 0 60px pink;
}

.containerMenu .btn:nth-child(4)::before,
.containerMenu .btn:nth-child(4)::after {
    background: purple;
    box-shadow: 0 0 5px purple,
        0 0 15px purple,
        0 0 30px purple,
        0 0 60px purple;
}

/* burger menu */
.menu {
    padding-top: 0%;
    margin-top: 0%;
}

#main {
    display: none;
    background-color: black;
    color: white;
    transition: margin-left .5s;
    padding: 15px;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* transparency */
    opacity: .9;
    background-color: #111111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 230px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Rubik Wet Paint', cursive;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    display: block;
    transition: 0.3s;
}

.sidenav a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 5px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

.sidenav a:hover::before {
    width: 80%;
    filter: drop-shadow(0 0 25px var(--clr))
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    margin-left: 50px;
}

/* section scroll */

#section01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}

.demo a {

    bottom: 10px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .3;
}


#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid black;
    border-radius: 100%;
    box-sizing: border-box;
}

#section01 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/* home */
#girlHero {
    height: 110%;
    width: 110%;
}

#girlHero2 {
    height: 110%;
    width: 110%;
}

.home {
    display: flex;
    grid-area: content;
    gap: 50px;
    padding: 50px;
}

#sectionHome {
    background-image: url(/assets/logo/contentBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: row;
    border-style: solid;
    justify-content: space-evenly;
    margin-top: 115px;
}

/* hero cards */
/* card-1 */
.card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 355px;
    min-width: 250px;
    width: 300px;
    background: #fff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 160px;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
}

/* hidden card 1 */

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.card-1 .cardContent {
    margin: 5px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10px;
}

.card-1 .cardHeading {
    font-size: 45px;
    transition: 0.4s;
    color: black;
    pointer-events: none;
    /* color: #8796a4b8; */
}

.card-1:hover .cardHeading {
    font-size: 40px;
    color: black;
    /* color: #6f7a85; */
}

.card-1 .para {
    margin-top: 15px;
    width: 235px;

    font-size: 18px;
    transition: 0.4s;
    opacity: 0;
    color: black;
    /* color: #88919b; */
    list-style-type: none;
}

.card-1 .cardBtn {
    margin-top: 15px;
    padding: 0.2rem 1rem;
    border: 2px solid #6f7a85;
    transition: 0.4s;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #6f7a85;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-1 .cardBtn:hover {
    /* background: #6f7a85; */
    background: black;
    box-shadow: 0 0 5px fuchsia,
        0 0 15px fuchsia,
        0 0 30px fuchsia,
        0 0 60px fuchsia;
    color: white;
    border-style: none;
}

.card-1:hover .para,
.card-1:hover .cardBtn {
    opacity: 1;
}

.card-1 img {
    position: absolute;
    top: -45%;
    left: 26%;
    width: 100px;
    height: auto;
    transition: 0.4s;
}

.card-1:hover img {
    top: -50%;
    left: 42%;
    scale: 150%;
}

/* card-2 */

.card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 355px;
    min-width: 250px;
    width: 300px;
    background: #fff;
    position: relative;
    /* top, right, bottom left*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 350px;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
}

.card-2 .cardContent {
    margin-top: 5px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10px;
}

.card-2 .cardHeading {
    font-size: 45px;
    transition: 0.4s;
    color: black;
    pointer-events: none;
}

.card-2:hover .cardHeading {
    font-size: 40px;
    color: black;
}

.card-2 .para {
    margin-top: 15px;
    width: 235px;
    font-size: 18px;
    transition: 0.4s;
    opacity: 0;
    color: black;
    list-style-type: none;
}

.card-2 .cardBtn {
    margin-top: 15px;
    padding: 0.2rem 1rem;
    border: 2px solid #6f7a85;
    transition: 0.4s;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #6f7a85;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-2 .cardBtn:hover {
    /* background: #6f7a85;
    color: #ffffffaf; */
    background: black;
    box-shadow: 0 0 5px yellow,
        0 0 15px yellow,
        0 0 30px yellow,
        0 0 60px yellow;
    color: white;
    border-style: none;
}

.card-2:hover .para,
.card-2:hover .cardBtn {
    opacity: 1;
}

.card-2 img {
    position: absolute;
    top: -35%;
    left: 40%;
    width: 200px;
    height: auto;
    transition: 0.4s;
}

.card-2:hover img {
    top: -60%;
    left: 64%;
    scale: 130%;
}

/* card-0 */
.card-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 255px;
    width: 300px;
    background: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
}

.card-0 .cardContent {
    margin-top: 5px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10px;
    color: white;
}

.card-0 .cardHeading {
    font-size: 2.2rem;
    color: black;
}

.card-0 .hours {
    margin-top: 15px;
    width: 235px;
    font-size: 18px;
    color: black;
    list-style-type: none;

}

.card-0 .cardBtn {
    margin-top: 15px;
    padding: 0.2rem 1rem;
    border: 2px solid #6f7a85;
    transition: 0.4s;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #6f7a85;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-0 .cardBtn:hover {
    /* background: #6f7a85; */
    background: black;
    box-shadow: 0 0 5px teal,
        0 0 15px teal,
        0 0 30px teal,
        0 0 60px teal;
    color: white;
    border-style: none;
}

.card-0 .cardBtn {
    opacity: 1;
}


/* description */
.description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 280px;
    margin-top: 600px;
    font-size: 48px;
    font-weight: 100px;
    font-family: 'Rubik Wet Paint', cursive;
    color: purple;
    -webkit-text-stroke: .05px black;
}

/* social icons */
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 990px;
}

#icons img {
    height: 55px;
    padding: 10px;
}

.social .iconBtn {
    border-style: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
}

.social .iconBtn:nth-child(1):hover {
    background: rgb(255, 255, 0);
    box-shadow: 0 0 5px yellow,
        0 0 15px yellow,
        0 0 30px yellow,
        0 0 60px yellow;
    transition: 0.5s;
    transition-delay: 0s;
}

.social .iconBtn:nth-child(2):hover {
    background: orange;
    box-shadow: 0 0 5px orange,
        0 0 15px orange,
        0 0 30px orange,
        0 0 60px orange;
    transition: 0.5s;
    transition-delay: 0s;
}

.social .iconBtn:nth-child(3):hover {
    background: #00f2ff;
    box-shadow: 0 0 5px #00f2ff,
        0 0 15px #00f2ff,
        0 0 30px #00f2ff,
        0 0 60px #00f2ff;
    transition: 0.5s;
    transition-delay: 0s;
}

.social .iconBtn:nth-child(4):hover {
    background: fuchsia;
    box-shadow: 0 0 5px fuchsia,
        0 0 15px fuchsia,
        0 0 30px fuchsia,
        0 0 60px fuchsia;
    transition: 0.5s;
    transition-delay: 0s;
}

/*-------------------------about---------------------------------------*/
.about {
    display: flex;
    grid-area: about;
    padding: 50px;
    justify-content: center;
}

#sectionAbout {
    background-image: url(/assets/logo/contentBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: row;
    border-style: solid;
    margin-top: 115px;
}

/* staff avatars */
.staff {
    display: flex;
    flex-direction: column;
}

#pMeet {
    font-size: 30px;
    font-family: 'Marvel', sans-serif;
}

#pNames {
    display: flex;
    justify-content: center;
    font-family: 'Marvel', sans-serif;

}

#workers img {
    display: flex;
    width: 130px;
    justify-content: center;
}

/* section scroll */
#section02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}

.demo a {
    bottom: 10px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .3;
}

#section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid black;
    border-radius: 100%;
    box-sizing: border-box;
}

#section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/* show/hide info */
#harry-info {
    display: none;
}

#sally-info {
    display: none;
}

#barbie-info {
    display: none;
}

.HH {
    margin-top: 15px;
    padding: 0.2rem 1rem;
    border: 2px solid #6f7a85;
    cursor: pointer;
    color: #6f7a85;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.HH:hover {
    border-color: orange;
    box-shadow: rgba(243, 178, 1, 0.24) 0px 3px 8px;
}

.SS {
    margin-top: 20px;
    padding: 0.2rem 1rem;
    border: 2px solid #6f7a85;
    cursor: pointer;
    color: #6f7a85;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.SS:hover {
    border-color: pink;
    box-shadow: rgba(244, 169, 169, 0.24) 0px 3px 8px;
}

.BB {
    margin-top: 15px;
    padding: 0.2rem 1rem;
    border: 2px solid #6f7a85;
    cursor: pointer;
    color: #6f7a85;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.BB:hover {
    border-color: fuchsia;
    box-shadow: rgba(245, 2, 217, 0.24) 0px 3px 8px;
}

.staff-card {
    display: flex;
    align-items: center;
}

.staffies {
    padding: 0;
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 350px;
    background: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

/*-------------------------gallery---------------------------------------*/
.gallery {
    display: flex;
    grid-area: gallery;
    padding: 50px;
}

#sectionGallery {
    background-image: url(/assets/logo/contentBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: row;
    border-style: solid;
    margin-top: 115px;
}

/* elastic accordion 2 */
.main {
    display: flex;

    width: 15vw;
    height: 65vh;
    background-position: center;
    flex-direction: row;
    gap: 1rem;
    margin: 1vw;
    border-radius: 3vw;
    margin: 45px;
    max-width: 100%;
    width: 72rem;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.card-radio {
    display: none;
}

.card-content {
    background: #FFF url('/assets/gallery/1-1.avif') 40% / cover no-repeat;
    border-radius: 0.25rem;
    cursor: pointer;
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: box-shadow 300ms ease-in-out;
}

.card-content:nth-of-type(2) {
    background-image: url('/assets/gallery/2-2.avif');

}

.card-content:nth-of-type(3) {
    background-image: url('/assets/gallery/3-3.avif');
}

.card-content:nth-of-type(4) {
    background-image: url('/assets/gallery/4-4.avif');
}

.card-content:last-of-type {
    background-image: url('/assets/gallery/5-5.avif');
}

.card-title {
    align-items: center;
    background-color: rgb(0 0 0 / 35%);
    color: #FFF;
    display: flex;
    font-size: 2.2rem;
    inset: 0;
    justify-content: center;
    line-height: 1.1;
    position: absolute;
    transition: all 290ms cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

/* Effect */
.card-content:is(:hover, :focus) {
    box-shadow: 3px 3px 6px rgb(0 0 0 / 25%);
}

.card-content:is(:hover, :focus) .card-title {
    background-color: rgb(0 0 0 / 5%);
}

.card-radio:checked+.card-content {
    animation: elastic 500ms cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
    border-radius: 0;
    box-shadow: 5px 5px 6px rgb(0 0 0 / 15%);
    flex: 10;
}

.card-radio:checked+.card-content>.card-title {
    background-color: rgb(0 0 0);
    top: 87%;
}

@keyframes elastic {
    0% {
        flex: 1;
    }

    30% {
        flex: 5;
    }

    40% {
        flex: 4.5;
    }

    50% {
        flex: 7;
    }

    60% {
        flex: 6;
    }

    70% {
        flex: 8.5;
    }

    80% {
        flex: 7.5;
    }

    100% {
        flex: 10;
    }
}

/* section scroll */
#section03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}

.demo a {
    bottom: 10px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .3;
}

#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid black;
    border-radius: 100%;
    box-sizing: border-box;
}

#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/*-------------------------contact---------------------------------------*/
.contact {
    display: flex;
    grid-area: contact;
    padding: 50px;
}

#sectionContact {
    background-image: url(/assets/logo/contentBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    grid-area: content;
    display: flex;
    flex-direction: row;
    padding: 60px;
    border-style: solid;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* section scroll */

#section03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}

.demo a {
    bottom: 10px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .3;
}

#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid black;
    border-radius: 100%;
    box-sizing: border-box;
}

#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -4px 0 0 -8px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transform: rotate(100deg);
    transform: rotate(137deg);
    box-sizing: border-box;
}

